@{
	Layout = "~/Views/Shared/_AuthPageLayout.cshtml";
}
@model MovieApp.Web.ViewModels.RegisterModel
<div class="sign section--bg" data-bg="/content/static/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign__content">
					<!-- registration form -->
					<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="sign__form">
						<div class="validation" asp-validation-summary="ModelOnly"></div>
						<a asp-controller="Home" asp-action="Index" class="sign__logo">
							<img src="~/content/static/logo.svg">
						</a>

						<div class="sign__group">
							<input type="text" asp-for="Login" class="sign__input" placeholder="Login">
							<span asp-validation-for="Login" />
						</div>

						<div class="sign__group">
							<input type="text" asp-for="Email" class="sign__input" placeholder="Email">
							<span asp-validation-for="Email" />
						</div>

						<div class="sign__group">
							<input asp-for="Password" type="password" class="sign__input" placeholder="Password">
							<span asp-validation-for="Password" />
						</div>
							
						<div class="sign__group">
							<input asp-for="ConfirmPassword" type="password" class="sign__input" placeholder="Confirm password">
							<span asp-validation-for="ConfirmPassword" />
						</div>

						<div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">
							<label for="remember">I agree to the <a asp-controller="Home" asp-action="Privacy" target="_blank">Privacy Policy</a></label>
						</div>
							
						<button class="sign__btn" type="submit">Sign up</button>

						<span class="sign__text">Already have an account? <a asp-controller="Account" asp-action="Login">Sign in!</a></span>
					</form>
					<!-- registration form -->
				</div>
			</div>
		</div>
	</div>
</div>