@{
    ViewData["Title"] = "Home Page";
}

<!-- home -->
<section class="home">
	@await Html.PartialAsync("~/Views/Partial/SeasonMovies.cshtml");
</section>
<!-- end home -->

<!-- content -->
<section class="content">
	@await Html.PartialAsync("~/Views/Partial/MoviesList.cshtml");
</section>
<!-- end content -->

<section class="section section--bg" data-bg="/content/static/section/section.jpg">
	@await Html.PartialAsync("~/Views/Partial/ExpectedPremiere.cshtml");
</section>